//
// Styles for the users frame.
// 

@import '../base'

#frames #artists

  .export
    float right
    color #AAA
    font-style italic
    margin-bottom 9px
    margin-top 5px

  .total_counts
    font-size 12px