//
// Place any styles using embedded images or fonts here so they are only embedded once.
//

@import 'base'

// Fonts
font-face('ITCAvantGardeGothicStd', 'itcavantgardestd-demi-webfont')
font-face('AdobeGaramondPro', 'agaramondpro-regular-webfont')
font-face('AdobeGaramondPro', 'agaramondpro-semibold-webfont', normal, semi-bold)
font-face('AdobeGaramondPro', 'agaramondpro-bold-webfont', normal, bold)
