//
// Styles for the user edit frame.
//

@import '../base'

#frames #user

  header
    clearfix()
    margin-bottom 15px

  // Artist notes
  .bookmarks, .artist_notes
    .artist
      margin-bottom 5px
      sans-serif-bold()
    .author
      font-size 11px
      color #aaa
    li
      border 1px solid #ccc
      padding 5px
      margin-bottom 10px
      &:last-child
        margin-bottom 0
      &:hover
        a.delete
          display block
      a.delete
        display none
      textarea.body
        display block
        width 100%
        box-sizing border-box
        margin 0
        border-color #eee
  .add_artist
    margin-top 1em
    input, textarea, button
      width 100%
      display block
      box-sizing border-box
      margin 0
      font-size 13px
      margin-bottom 3px
    button
      font-size 11px
      padding 10px
    textarea, button
      display none

  // Small headers
  h3
    text-transform uppercase
    font-size 11px
    padding-top 1em
    &:first-child
      padding-top 0

  // List and links
  ul
    overflow scroll
    max-height 600px
    li
      position relative
      a.delete
        position absolute
        top 0
        right 5px
        width 20px
        height @width
        background-repeat no-repeat
        background-position right 6px
        opacity 0.5
        transition opacity fast-duration
        cursor pointer
        background-color transparent !important
        border none !important
        &:hover
          opacity 1
    a
      text-decoration underline
  a.offer, .profile a
    text-decoration underline

  // Password
  div.password
    width 350px
    padding 10px 0
    margin @padding
    border-top 1px solid #eee
    border-bottom @border-top
    .right
      width 180px
    button
      font-size 11px
      padding 7px
      margin-top 5px

  //line border
  hr.border
    width 1px
    height auto
    background #CCC
    border 0px
    margin 0px
    padding 0px
    float left

  // Left column
  .column.info
    .features_count
      &:hover
        text-decoration underline
        cursor pointer
    ul.lab_features
      display none
      padding-bottom 20px
    .notes .right
      width 180px
      font-style italic

  // Admin notes
  .admin_notes
    border-top 1px solid #CCC
    padding 20px 0
    .add_admin_note
      width 280px
      height 140px
      float left
      -webkit-box-sizing border-box
      -moz-box-sizing border-box
      box-sizing border-box
      textarea, button
        width 100%
      textarea
        height 90px
      button
        padding 10px 13px
        margin-top -1px
    .admin_note
      position relative
      width 280px
      height 140px
      float left
      margin-right 20px
      -webkit-box-sizing border-box
      -moz-box-sizing border-box
      box-sizing border-box
      textarea.bodyfield
        height 110px
        border none
        width 100%
        padding 0px
        resize none
        margin-top 1px
        &:hover
          background #f7f7f7
        &:focus
          margin-top 2px
          border 1px solid #6A0BC1
          padding 5px
      .detail
        color #AAA
        font-size 11px
      button.delete
        position absolute
        top 3px
        right 0
        height 20px
        width 20px
        background-position top right
