doctype 5
html
  head
    title Artsy Gamey
    != nap.css('all', gzipSupport)

  body

    #container
      button.start_guess_artwork Click here to play a game where you guess the artwork prompted by an artist
      button.start_memory Click here to play the game of memory.

      #timer

      #picker

      #guess_again
        a.skip Skip for Now

      #wrong_guess
        | Whoops...guess again


      #items_container

      #loading
        | Loading....
      
    footer#footer

    #scripts
      script
        window.USER = !{userData};
        window.GRAVITY_URL = "!{gravityUrl}"
      script(type='text/javascript', src='https://www.google.com/jsapi')
      != nap.js('vendor', gzipSupport)
      != nap.jst('templates', gzipSupport)
      != nap.js('app', gzipSupport)
      script(type='text/javascript', src="/packery.pkgd.min.js")
