doctype 5
html
  head
    title Artsy Memory!
    != nap.css('all', gzipSupport)

  body
    include layout/header

    #container
      
        

    footer#footer

    #scripts
      script
        window.USER = !{userData};
        window.GRAVITY_URL = "!{gravityUrl}"
      script(type='text/javascript', src='https://www.google.com/jsapi')
      != nap.js('vendor', gzipSupport)
      != nap.jst('templates', gzipSupport)
      != nap.js('app', gzipSupport)
